{% extends 'exporter/main.html' %}

{% block title %}About - Fluxx Exporter{% endblock %}

{% block content %}
<h1>About the Fluxx Exporter</h1>

<p>
    The Fluxx Exporter is an open-source tool that integrates with the grants management 
    system <a href="https://www.fluxx.io/">Fluxx</a> to automate the export of select elements 
    of grant records. The tool is built on Python and Django, and uses the Fluxx API to export 
    data from a configured Fluxx instance. It can export both structured data that is entered 
    into fields and stored in the database as well as files that are uploaded and attached to 
    the grant record.
</p>

<h2>Installation and Configuration</h2>
<p>
    Detailed instructions for installing and configuring the Fluxx Exporter are provided in the 
    <a href="https://github.com/RockefellerArchiveCenter/fluxx_exporter?tab=readme-ov-file" target="_blank">application's README</a>.
</p>

<h2>License</h2>
<p>
    The Fluxx Exporter is an open-source application, released under the MIT License. Contributions are welcome!
</p>

{% endblock %}

