{% extends 'exporter/main.html' %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data">

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}
    
  {% csrf_token %}
    
  {{ form.management_form }}
  {{ form.non_form_errors }}

  {% for field in form %}
    <div class="input">
      {{ field.as_field_group }}
    </div>
  {% endfor %}

  {{formset.management_form}}
  {{formset.non_form_errors}}
    

  {% for table_form in formset %}
    <h2>Table</h2>
    <ul class="list--unstyled">

    <li>
      {{ table_form.id }}
      <div class="input-group">
        <input
          type="checkbox"
          class="checkbox checkbox--blue"
          id="{{ table_form.include_in_export.auto_id }}"
          name="{{ table_form.include_in_export.html_name }}"
          {% if table_form.include_in_export.value %}checked="checked"{% endif %}
        />
        <label for="{{ table_form.include_in_export.id_for_label }}" class="checkbox--blue">{{ table_form.instance.name }}</label>
      </div>
    </li>

    {% if table_form.nested %}

      {{table_form.nested.management_form}}
      {{table_form.errors}}

      <h3>Fields for {{ table_form.instance.name }}</h3>

      <ul class="list--unstyled">
        {% for field_form in table_form.nested.forms %}

        <li>
          {{ field_form.id }}
          <div class="input-group">
            <input
              type="checkbox"
              class="checkbox checkbox--blue"
              id="{{ field_form.include_in_export.auto_id }}"
              name="{{ field_form.include_in_export.html_name }}"
              {% if field_form.include_in_export.value %}checked="checked"{% endif %}
            />
            <label for="{{ field_form.include_in_export.id_for_label }}" class="checkbox--blue">{{ field_form.instance.name }}</label>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </ul>
  {% endfor %}
 

  <button class="btn btn--md btn--blue" type="submit">Submit</button>
  <a href="{% if object %}{% url 'exportjob_detail' pk=object.pk %}{% else %}{% url 'index' %}{% endif %}" class="btn btn--md btn--gray" type="cancel">Cancel</a>

</form>

{% endblock %}