{% extends 'exporter/main.html' %}

{% block title %}Fluxx Exporter - {{object.name}}{% endblock %}

{% block content %}

<h1>{{object.name}}</h1>

<dl class="summary-list">
    <div class="summary-list__row">
        <dt class="summary-list__key">Fluxx Configuration</dt>
        <dd class="summary-list__value">{{ object.fluxx_config }}</dd>
    </div>
    <div class="summary-list__row">
        <dt class="summary-list__key">Export Location</dt>
        <dd class="summary-list__value">{{ object.export_location }}</dd>
    </div>
    <div class="summary-list__row">
        <dt class="summary-list__key">Export Format</dt>
        <dd class="summary-list__value">{{ object.export_format }}</dd>
    </div>
    <div class="summary-list__row">
        <dt class="summary-list__key">Filter String</dt>
        <dd class="summary-list__value">{{ object.filter_string }}</dd>
    </div>
    {% if object.amazon_s3_config %}
    <div class="summary-list__row">
        <dt class="summary-list__key">S3 Configuration</dt>
        <dd class="summary-list__value">{{ object.amazon_s3_config }}</dd>
    </div>
    {% endif %}
    {% if object.sftp_config %}
    <div class="summary-list__row">
        <dt class="summary-list__key">SFTP Configuration</dt>
        <dd class="summary-list__value">{{ object.sftp_config }}</dd>
    </div>
    {% endif %}
</dl>

<h2>Grant Request Fields</h2>
{% include 'exporter/includes/inline_table_card.html' with table=object.grant_request_table %}

<h2>Connected Tables and Fields</h2>
{% for table in object.related_tables.all %}
    {% if table.include_in_export %}
        {% include 'exporter/includes/inline_table_card.html' with table=table %}
    {% endif %}
{% endfor %}

<div class="flex exportjob-buttons__wrapper">
    <div>
        <a class="btn btn--md btn--light-blue" href="{% url 'exportjob_update' pk=object.pk %}">Edit</a>
        <a class="btn btn--md btn--orange" href="{% url 'exportjob_delete' pk=object.pk %}">Delete</a>
    </div>
    <a class="btn btn--md btn--navy" href="{% url 'exportjob_run' pk=object.pk %}">Run</a>
</div>

{% endblock %}