{% extends 'exporter/main.html' %}

{% block title %}{% if form.instance.id %}Edit {{form.instance.name}}{% else %}Create New Export Job{% endif %} - Fluxx Exporter{% endblock %}

{% block content %}

<h1>{% if form.instance.id %}Edit {{object.name}}{% else %}Create New Export Job{% endif %}</h1>

<form action="" method="post" enctype="multipart/form-data">

	{% for hidden_field in form.hidden_fields %}
		{{ hidden_field.errors }}
		{{ hidden_field }}
	{% endfor %}
		
	{% csrf_token %}
		
	{{ form.management_form }}
	{{ form.non_form_errors }}

	{% for field in form %}
		{% if field.name == 'download_all_file_versions' %}
		<div class="input-group mb-10">
			<input
                type="checkbox"
                class="checkbox checkbox--blue"
                id="{{ field.auto_id }}"
                name="{{ field.html_name }}"
                {% if form.download_all_file_versions.value %}checked="checked"{% endif %}
            />
            <label for="{{ field.id_for_label }}" class="checkbox--blue">
                {{field.label}}
            </label>
			<div id="{{field.auto_id}}_helptext" class="input__help-text mt-5">
				{{field.help_text|safe}}
			</div>
        </div>
		{% else %}
		<div class="input mb-10">
			{{ field.label_tag }}
			{{ field }}
			{% if field.errors %}
					<div id="{{field.auto_id}}-error" class="input__error">
							{{ field.errors }}
					</div>
			{% endif %}
			<div id="{{field.auto_id}}_helptext" class="input__help-text">
				{{field.help_text|safe}}
			</div>
		</div>
		{% endif %}
	{% endfor %}

	{{ filters.management_form }}
	{% for error in filters.non_form_errors %}
		<div class="input__error">{{ error }}</div>
	{% endfor %}

	<h2>Apply Filters</h2>
	<p>Add filter/s to limit the data that is exported.</p>

	{% for form in filters %}
		<fieldset class="exportjob__filter card card--container card--blue mb-10">
			<legend>Filter {{ forloop.counter }}</legend>

			{% for hidden_field in form.hidden_fields %}
				{{ hidden_field.errors }}
				{{ hidden_field }}
			{% endfor %}

			{% for field in form.visible_fields %}
				<div class="input">	
					{{ field.label_tag }}
					{{ field }}
					{% for error in field.errors %}
  					<div id="{{ field.auto_id }}-error" class="input__error">
							{{ error }}
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</fieldset>
	{% endfor %}

	<h2>Select Document Types</h2>
	<p>Select document type/s to include in export job. Only documents matching selected document types will be downloaded.</p>
	{% include 'exporter/includes/document_type_form.html' with form=document_types %}

	<h2>Grant Request Fields</h2>

	{{formset.management_form}}
	{% for error in formset.non_form_errors %}
		<div class="input__error">{{error}}</div>
	{% endfor %}

	{% if grant_request_forms %}
		<p>Select grant request field/s to include in export job.</p>
		{% for table_form in grant_request_forms %}
			{% include 'exporter/includes/inline_table_form.html' with table_form=table_form include_by_default='true' %}
		{% endfor %}
	{% else %}
		<p class="input__error">No grant request table is available. Before creating an export job, first configure your grant request 
			table to enable exports from Fluxx.</p>
	{% endif %}

	<h2>Connected Tables and Fields</h2>
	{% if connected_table_forms %}
		<p>Select field/s from connected table/s to include in export job.</p>
		{% for table_form in connected_table_forms %}
			{% include 'exporter/includes/inline_table_form.html' with table_form=table_form %}
		{% endfor %}
	{% else %}
		<p class="input__error">No connected tables are available. If needed, configure connected tables to enable their export from Fluxx.</p>
	{% endif %}

	<button id="submit-btn" class="btn btn--md btn--blue" type="submit">Save</button>
	<a href="{% if object %}{% url 'exportjob_detail' pk=object.pk %}{% else %}{% url 'index' %}{% endif %}" class="btn btn--md btn--gray" type="cancel">Cancel</a>

</form>

{% endblock %}