{% extends 'exporter/main.html' %}

{% block title %}{{object.name}} - Fluxx Exporter{% endblock %}

{% block content %}

<h1>{{object.name}}</h1>

<dl class="summary-list">
    <div class="summary-list__row">
        <dt class="summary-list__key">Fluxx Configuration</dt>
        <dd class="summary-list__value">{{ object.fluxx_config }}</dd>
    </div>
    <div class="summary-list__row">
        <dt class="summary-list__key">Export Location</dt>
        <dd class="summary-list__value">{{ object.export_location }}</dd>
    </div>
    <div class="summary-list__row">
        <dt class="summary-list__key">Export Format</dt>
        <dd class="summary-list__value">{{ object.export_format }}</dd>
    </div>
    {% if object.filters.all %}
    <div class="summary-list__row">
        <dt class="summary-list__key">Filters</dt>
        <dd class="summary-list__value">{% for filter in object.filters.all %}{{filter}}{% if not forloop.last %}<br />{% endif %}{% endfor %}</dd>
    </div>
    {% endif %}
    {% if object.grant_ids %}
    <div class="summary-list__row">
        <dt class="summary-list__key">Grant IDs</dt>
        <dd class="summary-list__value">{{ object.grant_ids }}</dd>
    </div>
    {% endif %}
    {% if object.amazon_s3_config %}
    <div class="summary-list__row">
        <dt class="summary-list__key">S3 Configuration</dt>
        <dd class="summary-list__value">{{ object.amazon_s3_config }}</dd>
    </div>
    {% endif %}
    {% if object.sftp_config %}
    <div class="summary-list__row">
        <dt class="summary-list__key">SFTP Configuration</dt>
        <dd class="summary-list__value">{{ object.sftp_config }}</dd>
    </div>
    {% endif %}
</dl>

<h2>Document Types</h2>
{% if include_document_types %}
    {% if object.download_all_file_versions %}
        <p>All document versions will be downloaded.</p>
    {% else %}
        <p>Only the most recent version of a document will be downloaded.</p>
    {% endif %}
    <p>The following document types will be downloaded:</p>
    <ul>
        {% for document_type in include_document_types %}
            <li>{{document_type.name}}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No document types were selected for this export.</p>
{% endif %}

<h2>Grant Request Fields</h2>
{% if object.grant_request_table %}
    {% include 'exporter/includes/inline_table_card.html' with table=object.grant_request_table %}
{% else %}
    <p class="input__error">No grant request table is available. Before creating an export job, first configure your grant request
			table to enable exports from Fluxx.</p>
{% endif %}

<h2>Connected Tables and Fields</h2>
{% if include_related_tables %}
    {% for table in include_related_tables %}
        {% include 'exporter/includes/inline_table_card.html' with table=table %}
    {% endfor %}
{% else %}
    <p>No fields from connected tables were selected for this export.</p>
{% endif %}

<div class="flex exportjob-buttons__wrapper">
    <div>
        <a class="btn btn--md btn--light-blue" href="{% url 'exportjob_update' pk=object.pk %}">Edit</a>
        <a class="btn btn--md btn--orange" href="{% url 'exportjob_delete' pk=object.pk %}">Delete</a>
    </div>
    <a data-micromodal-trigger="export-progress-modal" class="btn btn--md btn--blue" href="{% url 'exportjob_run' pk=object.pk %}">Run Export</a>
</div>

{% endblock %}