{% extends 'exporter/main.html' %}

{% block title %}Import Tables and Fields - Fluxx Exporter{% endblock %}

{% block content %}
<h1>Import Tables and Fields</h1>

<form method="post" enctype="multipart/form-data">
    {% for hidden_field in form.hidden_fields %}
		{{ hidden_field.errors }}
		{{ hidden_field }}
	{% endfor %}
		
	{% csrf_token %}
		
	{{ form.management_form }}
	{{ form.non_form_errors }}

	<p> *Required field</p>

	{% for field in form %}
		<div class="input mb-10">
			{{ field.label_tag }}
				{{ field }}
				{% if field.errors %}
						<div id="{{field.auto_id}}-error" class="input__error">
								{{ field.errors }}
						</div>
				{% endif %}
				<div id="{{field.auto_id}}_helptext" class="input__help-text">
					{{field.help_text}}
				</div>
		</div>
	{% endfor %}

    <button class="btn btn--blue btn--md" type="submit">Upload</button>
    <a href="{% url 'index' %}" class="btn btn--md btn--gray" type="cancel">Cancel</a>

</form>

{% endblock %}

