
{% extends 'exporter/main.html' %}

{% block content %}

    <h1>Fluxx Exporter</h1>

    <div class="create-export-job">
        <a href="{% url 'exportjob_create' %}" class="btn btn--lg btn--navy">Create New Export Job</a>
    </div>

    <div class="export-job-list">
        {% if export_jobs %}
            <h2 class="mt-20">Saved Export Jobs</h2>
            <ul class="list--unstyled">
                {% for job in export_jobs %}
                    <li>
                        <a href="{% url 'exportjob_detail' pk=job.pk %}">{{job.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock %}
