.content {
    grid-column: 3 / span 8;
}

.exportjob-buttons__wrapper {
    justify-content: space-between;
}

h2 {
    margin-top: 30px;
}

.card--container {
    padding: 10px;
    min-height: auto;
}

.card h3 {
    margin-top: 0px;
}

.text--italic {
    font-style: italic;
}