.content {
    grid-column: 3 / span 8;
}

/* limits the group of checkboxes to a maximum height of 512px
and adds a scrollbar if the content exceeds that height. */
.checkbox-list {
    max-height: 512px;
    overflow: auto;
}

.exportjob-buttons__wrapper {
    justify-content: space-between;
}

.exportjob__fields-filter {
    width: 100%;

    @media screen and (min-width: 1024px) {
        width: 50%;
    }
}

h2 {
    margin-top: 30px;
}

.card--container {
    padding: 10px;
    min-height: auto;
}

.card h3 {
    margin-top: 0px;
}

.text--italic {
    font-style: italic;
}

.footer-secondary .container.flex {
    justify-content: center;
}

.input-group label.checkbox--blue {
    overflow-wrap: anywhere;
}

.toc__skip-link--orange {
    color: #F6F6F4 !important;
}