{% for error in table_form.non_field_errors %}
    <div class="input__error">{{error}}</div>
{% endfor %}
<div class="card card--container flex--column mb-20">
    <h3>{{ table_form.instance.name }} table</h3>
    <div class="input-group mb-20">
        {{ table_form.id }}
        <input
            type="hidden"
            id="{{ table_form.include_in_export.auto_id }}"
            name="{{ table_form.include_in_export.html_name }}"
            value={% if include_by_default == 'true' %}on{% elif table_form.include_in_export.value %}on{%else%}''{% endif %}
        />
    </div>

    {% if table_form.nested %}

        {{table_form.nested.management_form}}
        {{table_form.nested.non_form_errors}}

        <fieldset class="mb-20">
            <legend>Field/s for {{ table_form.instance.name }}</legend>
            {% for field_form in table_form.nested.forms %}
            <div class="input-group">
                {{field_form.id}}
                <input
                    type="checkbox"
                    class="checkbox checkbox--blue{% if include_by_default != 'true' %} table-field{% endif %}"
                    id="{{ field_form.include_in_export.auto_id }}"
                    name="{{ field_form.include_in_export.html_name }}"
                    {% if field_form.include_in_export.value %}checked="checked"{% endif %}
                />
                <label for="{{ field_form.include_in_export.id_for_label }}" class="checkbox--blue">
                    {{ field_form.instance.name }}{% if field_form.instance.related_table.id %} <span class="text--italic">(connected data type: {{field_form.instance.related_table.name}})</span>{% endif %}
                </label>
            </div>
            {% endfor %}
        </fieldset>
    {% endif %}
</div>