{% extends 'exporttool/main.html' %}

	{% block content %}

	<h3>Filter Help</h3>	 
	<p>Filters via the Fluxx Labs API are interesting. Much of this documentation will be taken directly from the documentation provided by Fluxx Labs themselves. In fact, the documentation for Filters and all over API endpoints will be provided in the $PROJECTDIRECTORY\Documents\API Information</p>

	<p>Filters in general are not very dynamic and can vary from entity to entity. It is best to consult your environment’s API pages to see which filters will work per entity. The API documentation provided for your tenant can be found at: 
		http://(tenant).fluxx.io/api/rest/v2/doc
	</p>

	<p>Here are a few filter examples:</p>
	<ul>
		<li><code>"grant_id eq R-2024-00003"</code></li>
		<li><code>"project_title eq Test Project"</code></li>
		<li><code>"created_at last-n-months 5"</code></li>
		<li><code>"created_at this-year -"</code></li>
	</ul>

	<p><strong>Please note:</strong> the last filter <code>'created_at this-year -'</code>, the last input of the hyphen is not a typo. This is how the Fluxx API handles less than 3 raw inputs into the filter.</p>

{% endblock %}
